@font-face {
    font-family: "tex_gyre_adventorregular";
    src: url("../ressources/fonts/regular/texgyreadventor-regular-webfont.eot");
    src: url("../ressources/fonts/regular/texgyreadventor-regular-webfont.eot?#iefix") format("embedded-opentype"),
        url("../ressources/fonts/regular/texgyreadventor-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
