@font-face {
    font-family: 'tex_gyre_adventorregular';
    src: url('texgyreadventor-regular-webfont.eot');
    src: url('texgyreadventor-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('texgyreadventor-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

